<form role="form" (ngSubmit)="updateDetails()" [formGroup]="form">
  <div class="form-group" *ngIf="userHavePremiumStorage()">
    <label i18n for="myStoragePlan">Your actual storage plan</label>
    <div class="form-group" id="myStoragePlan">
      <!-- <my-global-icon iconName="home"></my-global-icon><span for="userPremiumPlanId">Id: </span><div id="userPremiumPlanId" >{{ userPremiumPlan.id }}</div> -->
      <div class="storagePadding" id="userPremiumPlanDailyQuota" ><my-global-icon iconName="folder"></my-global-icon><span class="padding-left-10" for="userPremiumPlanDailyQuota">dailyQuota: </span> {{ getHRBytes(userPremiumPlan.dailyQuota) }}</div>
      <div class="storagePadding" id="userPremiumPlanQuota" ><my-global-icon iconName="cloud-download"></my-global-icon><span class="padding-left-10" for="userPremiumPlanQuota">Quota: </span>{{ getHRBytes(userPremiumPlan.quota) }}</div>
      <div class="storagePadding" id="userPremiumPlanExpireDate" ><my-global-icon iconName="sparkle"></my-global-icon><span class="padding-left-10" for="userPremiumPlanExpireDate">Finalization date: </span>{{ userPremiumPlan.dateTo }}</div>
      <!-- <div class="storagePadding" id="userPremiumPlanExtendButton" > <input type="submit" i18n-value value="Extend"> </div> -->
    </div>
  </div>
  
  <div class="form-group form-group-select">
    <!-- <div *ngIf="userHavePremiumStorage()"> -->
      <label i18n for="storagePlan">Upgrade/Extend your storage plan</label>
      <my-help>
        <ng-template ptTemplate="customHtml">
          <ng-container i18n>
            You can <strong>EXTEND</strong> you actual plan or get more storage <strong>UPGRADING</strong> your plan
          </ng-container>
        </ng-template>
      </my-help>
    <!-- </div> -->
    <!-- <div *ngIf="!userHavePremiumStorage()">
      <label i18n for="storagePlan">Choose your storage plan</label>
      <my-help>
        <ng-template ptTemplate="customHtml">
          <ng-container i18n>
            You can get more storage paying with <strong>Tube Coin's</strong>
          </ng-container>
        </ng-template>
      </my-help>
    </div> -->
  
    <div *ngIf="havePremiumStorage()" class="peertube-select-container">
      <select [value] formControlName="storagePlan" id="storagePlan" class="form-control">
        <option value="-1" [disabled]="userHavePremiumStorage()">Instance default</option>
        <option *ngFor="let plan of storagePlans" value={{plan.id}} [disabled]="isOptionDisabled(plan.id)" >{{ plan.name }} - {{ getHRBytes(plan.dailyQuota) }}/daily by {{ plan.priceTube }} Tube's/month</option>
      </select>
    </div>
    <div *ngIf="!havePremiumStorage()" class="form-group col-12 col-lg-4 col-xl-3">
      <div class="anchor" id="storage-settings"></div> <!-- storage settings anchor -->
      <div i18n class="account-title">Sorry, this instance have no premium storage plans yet.</div>
    </div> <!-- storage settings grid END -->
  </div>
  <input *ngIf="!reactiveUpdate" type="submit" i18n-value [value]="getButtonValue()" [disabled]="isUpgradeDisabled()">
</form>
